body,
html {
  height: 100%;
  font-family: "ParagraphFont";
}

html:hover {
  cursor: url("../images/billete-100.jpg"), auto;
}
@font-face {
  font-family: "ParagraphFont";
  src: url("../fonts/vcr_osd_mono_1.001-webfont.woff") format("woff2"),
    url("../fonts/vcr_osd_mono_1.001-webfont.woff") format("woff");
}
.start-page {
  font-family: "ParagraphFont", "Courier New", Courier, monospace;
  background-color: #24a0c4;
  background-image: url("../images/raining-money-gif.gif");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  z-index: 990;
  position: absolute;
  top: 0;
  left: 0;
}
.start-page-main {
  max-width: 1300px;
  max-height: 800px;
  display: flex;
  flex-direction: row;
}
.start-page-img-container {
  height: 600px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.platform {
  width: 400px;
  z-index: 997;
}
.uncle-scrooge {
  width: 250px;
  margin: 0 0 -80px 70px;
  z-index: 998;
}
.platform-coins {
  position: relative;
}
.coins {
  width: 150px;
  z-index: 999;
  position: absolute;
  bottom: 110px;
  left: 140px;
}
.start-page-text-container {
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 900px;
  height: fit-content;
  border-radius: 15px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-language-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.language-btn-start-page,
.language-btn-easter-egg {
  height: fit-content;
  width: fit-content;
  color: #24a0c4;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #24a0c4;
}
.language-btn-easter-egg-container {
  width: 900px;
  display: flex;
  justify-content: end;
}
.title {
  font-family: "Press Start 2P", cursive;
  color: #dd0827;
  font-size: 64px;
}
.start-btn,
.play-again,
#end-level-btn,
#easter-egg-play-again {
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
  height: fit-content;
  width: fit-content;
  padding: 16px;
  color: white;
  background-color: #dd0827;
  border-radius: 3px;
  margin-top: 48px;
  border: none;
}
.game-page {
  font-family: "ParagraphFont", "Courier New", Courier, monospace;
  background-image: url("../images/sky2.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: url("../images/open-hand.png") 16 16, auto;
}
.game-page:active {
  cursor: url("../images/closed-hand.png") 15 15, auto;
}
.clouds {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 50%;
  justify-content: center;
  z-index: 10;
}
.clouds-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
}
.cloud {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 24px 72px;
  position: relative;
  animation: MoveUpDown 1s linear infinite;
}
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 4px;
  }
}
.clouds-row img {
  width: 80%;
  height: 80%;
  z-index: 10;
}
.bill {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70%;
  width: 20%;
  z-index: 1;
  position: absolute;
  top: 55%;
  left: 50%;
}
#countdown {
  font-size: 200px;
  position: absolute;
  z-index: 10;
  color: #dd0827;
}
#score {
  position: absolute;
  top: 8%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 24px;
  color: white;
  font-weight: bold;
}
.popUp {
  background-color: rgba(255, 255, 255, 0.7);
  width: 900px;
  min-height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 32px 24px;
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
  position: absolute;
  z-index: 20;
  color: #dd0827;
  text-align: center;
  cursor: default;
}
.sound {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 998;
}
.sound {
  z-index: 999;
}
.easter-egg {
  background-color: rgba(255, 255, 255, 0.7);
  width: 900px;
  min-height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 32px 24px;
  font-size: 32px;
  position: absolute;
  z-index: 100;
  cursor: default;
}
.mute-unmute {
  background-color: white;
  position: absolute;
  top: 6%;
  left: 15%;
  z-index: 999;
  padding: 8px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mute-unmute-btn {
  background-color: white;
  background-image: url("../images/unmute-icon.jpg");
  background-size: cover;
  width: 20px;
  height: 20px;
  border: none;
}
@media screen and (max-width: 1200px) {
  body {
    background-image: url("../images/small-devices.PNG");
    width: 1vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .start-page,
  .game-page,
  .popUp {
    visibility: hidden;
  }
}
